* {
    margin : 0px;
    padding: 0px;
}

body {
    font-size : 100%;
    background: #F8F8FF;
}

.header {
    width        : 30%;
    margin       : 50px auto 0px;
    color        : white;
    background   : #16a085;
    text-align   : center;
    border       : 1px solid #B0C4DE;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding      : 20px;
}

form,
.content {
    width        : 30%;
    margin       : 0px auto;
    padding      : 20px;
    border       : 1px solid #B0C4DE;
    background   : white;
    border-radius: 0px 0px 10px 10px;
}

.body {
    width        : 30%;
    margin       : auto;
    color        : white;
    background   : #1abc9c;
    text-align   : center;
    border-bottom: none;
    border-radius: 0px 0px 10px 10px;
    padding      : 20px;
}

.important {
    text-decoration: underline;
}

@media (max-width: 800px) {

    body{
        width: 100%;
        font-size: 80%;
    }
    .header,
    .body{
        width: 50%;
    }
}